*{
    margin:0px;
    padding:0px;
    color:blanchedalmond;
    background-color: black;
}
.navbar{
    background-position: fixed;
}
.navbar .logo{
    font-size: 50px;
    padding:10px 10px

}
.navbar .logo span{
    color:rgb(197, 24, 24);
    font-style: bold;
}
.menu{
    list-style: none;
    display:flex;
    padding: 10px;
} 
.menu li a{
    padding: 10px;
    margin:3px;
    list-style-type:none;
    text-decoration: none;
    font-size: 14px;
    height:40px;
    line-height: 43px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
}
.menu li a:hover{
    color:#FFFFFF;
    background-color: #7c9c97;
    box-shadow: 5px 10px 30px rgba(59, 175, 171, 0.3);
    transition: all ease 0.2s ;
}
.navbar h2{
    text-align:right;
    padding: 10px;
}
.navbar h2 input{
    border-radius: 5px;
    height: 6mm;
    width:3cm;
}
.navbar1{
    display:flex;
    justify-content: space-between;
}

.home .image 
{

  text-align: center;
}
.home .combine .text .hey{
    position: absolute;
    font-size: 50px;
    top:80%;
    left:20%;
}
.home .combine .text .name{
    position: absolute;
    font-size: 40px;
    top:90%;
    left:20%;
}
.home .combine .text .resume{
    position: absolute;
    font-size: 30px;
    top:100%;
    left:20%;
}
.home .combine .text .button{
    position: absolute;
    font-size: 40px;
    top:110%;
    left:20%;
}
.home .combine .text .button button{
        font-size: 40px;
        border-radius: 10px;
}

