*{
    margin:0px;
    padding:0px;
    color:blanchedalmond;
    background-color: black;
}
.navbar{
    background-position: fixed;
}
.navbar .logo{
    font-size: 50px;
    padding:10px 10px

}
.navbar .logo span{
    color:rgb(197, 24, 24);
    font-style: bold;
}
.menu{
    list-style: none;
    display:flex;
    padding: 10px;
} 
.menu li a{
    padding: 10px;
    margin:3px;
    list-style-type:none;
    text-decoration: none;
    font-size: 14px;
    height:40px;
    line-height: 43px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
}
.menu li a:hover{
    color:#FFFFFF;
    background-color: #7c9c97;
    box-shadow: 5px 10px 30px rgba(59, 175, 171, 0.3);
    transition: all ease 0.2s ;
}
.navbar h2{
    text-align:right;
    padding: 10px;
}
.navbar h2 input{
    border-radius: 5px;
    height: 6mm;
    width:3cm;
}
.navbar1{
    display:flex;
    justify-content: space-between;
}
.home{
    color:beige;
    background-color:black;
    display: flex;
}
.home img{
    margin:0 10%;
    display:flex;
    padding:20px;
    justify-content: center;   
}
.home .image img{
    border-radius: 30px;
    justify-content: center;
}
.home .text {
   width: 50%;   
    text-align: center;
    text-align: justify;
    justify-content: center;
    padding:50px 200px;
}
.home .hey{
    font-size: 50px;
}
.home .size{
    font-size: 25px;
}
.home .down{
    font-size: 25px;
}
.home .text a button{
    color: white;
    size: 1cm;
}
.home
.form .examform{
    font-size: 1.5cm;
    text-align: center;
    padding:5px;
}
.input button{
    font-size: 1cm;
    border-radius: 10px;
    float:inline-start;
    
}
.input{
    text-align: center;
}
